.txt{
    display: flex;
    flex-direction: column;
    width: 60%;

    .split{
        padding: 100px 130px;
        
        .text{
            font-weight: 700;
            font-size: 60px;
            line-height: 70px;

            .blue-txt{
                color: #4643D3;
            }
        }
    }
}